@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
body {
    font-family: 'Slabo 27px', serif;
}

#clear {
    text-transform: uppercase;
    font-family: 'Slabo 27px', serif;
    font-size: 0.25em;
}

input,
textarea,
.card {
    font-family: 'Slabo 27px', serif;
    margin-top: 25px;
}

#messages {
    height: 300px;
}

input#username,
textarea#textarea {
    font-size: 1.2em;
}

.card-block {
    color: white;
    font-size: 1.25em;
    font-family: 'Slabo 27px', serif;
    text-shadow: 0 1px 3px #000000!important;
}

.card-block strong {
    border-bottom: 1px solid #fff;
}